<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
</head>
<body>
    <h1>Detalle persona</h1>
    <div>
        <h3>Id persona: {{persona.id}} </h3>
        <h3>Nombre: {{persona.nombre}} </h3>
        <h3>Apellido: {{persona.apellido}} </h3>
        <h3>Email: {{persona.email}} </h3>
        <a href="{% url 'inicio' %}">Regrear al inicio</a>
    </div>
</body>
</html>