<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
</head>
<body>
    <h1>Detalle Domicilio</h1>
    <div>
        <h3>Id Domicilio: {{domicilio.id}} </h3>
        <h3>calle: {{domicilio.calle}} </h3>
        <h3>No Calle: {{domicilio.no_calle}} </h3>
        <h3>Pais: {{domicilio.pais}} </h3>
        <a href="{% url 'domi' %}">Regrear al detalle de domicilio</a>
    </div>
</body>
</html>